<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body data-sb-object-id="content/pages/{{slug}}.md">
        <h1 data-sb-field-path="title">{{ title }}</h1>
        <main data-sb-field-path="markdown_content">
            {{ content }}
        </main>
    </body>
</html>